@using Microsoft.AspNetCore.Http;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OnlineShoppingStore</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    @*<link rel="stylesheet" href="~/css/site.css" />*@
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/MyMainLayout.css" rel="stylesheet" />
</head>
<body>

    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="logo">
                    <h1><a href="#">Online <span>Shopping Store</span></a></h1>
                    <p>My Shop</p>
                </div>
            </div>

            <div class="col-md-6 col-sm-6 col-xs-6">
       
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">Cart (@ViewBag.totalCart)</a>
                        <ul class="dropdown-menu">
                            @if (Context.Session.GetString("cart") != null)
                            {
                                @foreach (var item in ViewBag.cart)
                                {
                                    <li>
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="RemoveCart"  asp-route-id="@item.dbModelLst.ProductId">@item.dbModelLst.ProductName (@item.Quantity)
                                        <i class="fa fa-times"></i></a></li>
                                }
                            }
                            <li class="divider"></li>
                            <li>  <a class="nav-link" asp-area="" asp-controller="CheckOutDetail" asp-action="Index" >CheckOut</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">

            <div class="col-md-12">
                <div class="nav-menus">

                    <ul class="nav nav-pills">
                        <li class="active">
                            <a style="border-radius:initial;"asp-area="" asp-controller="Home" asp-action="Index"> Home</a>
                        </li>
                        <li><a style="border-radius:initial;" href="#">Location</a></li>
                        <li><a style="border-radius:initial;" href="#">About</a></li>
                    </ul>
                </div>
            </div>

        </div>


        @RenderBody()
        <hr />
        <footer>
            <div class="row">
                <div class="col-md-12 copyright">

                    <div class="col-md-6 col-sm-6 copyright-left">
                        <p>&copy; @DateTime.Now.Year - OnlineShopingStore. All right reserved.</p>
                    </div>

                    <div class="col-md-6 col-sm-6 copyright-right">

                        <ul class="list-unstyled list-social">
                            <li><a href="#" target="_blank"><i class="fa fa-facebook-square"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>

                        </ul>
                    </div>
                </div>
            </div>

        </footer>
    </div>


    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/respond.js"></script>
    <script src="~/Scripts/_references.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-1.10.2.intellisense.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/respond.min.js"></script>
    <script src="~/Scripts/jquery.validate-vsdoc.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
